Node-Red/3.switch-AM2315.json
[
    {
        "id": "d18039bb6d4424f0",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf86c78de12e8128",
        "type": "ui_gauge",
        "z": "d18039bb6d4424f0",
        "name": "TEMP",
        "group": "36672616760ec1dc",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1030,
        "y": 180,
        "wires": []
    },
    {
        "id": "b131a034cbc9af7e",
        "type": "ui_gauge",
        "z": "d18039bb6d4424f0",
        "name": "HUM",
        "group": "36672616760ec1dc",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1030,
        "y": 220,
        "wires": []
    },
    {
        "id": "47701ff194ba4263",
        "type": "inject",
        "z": "d18039bb6d4424f0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "937abbc8ea2dbe27"
            ]
        ]
    },
    {
        "id": "d69670e5245ffd37",
        "type": "exec",
        "z": "d18039bb6d4424f0",
        "command": "python3 Desktop/temp_hum.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "AM2315",
        "x": 720,
        "y": 220,
        "wires": [
            [
                "a411c3b945f854c8",
                "d242c976bcd407ed",
                "9b029f20cacbf59a"
            ],
            [],
            []
        ]
    },
    {
        "id": "a411c3b945f854c8",
        "type": "function",
        "z": "d18039bb6d4424f0",
        "name": "Temperature",
        "func": "str = msg.payload\nmsg.payload = str.substring(14,18)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 180,
        "wires": [
            [
                "cf86c78de12e8128"
            ]
        ]
    },
    {
        "id": "d242c976bcd407ed",
        "type": "function",
        "z": "d18039bb6d4424f0",
        "name": "Humidity",
        "func": "str = msg.payload\nmsg.payload = str.substring(30,35)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 220,
        "wires": [
            [
                "b131a034cbc9af7e"
            ]
        ]
    },
    {
        "id": "98ed0518e25e1589",
        "type": "file",
        "z": "d18039bb6d4424f0",
        "name": "",
        "filename": "/home/pi/Desktop/sample.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1260,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "9a4d9ea663db61d4",
        "type": "csv",
        "z": "d18039bb6d4424f0",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "temperature, humidity",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1050,
        "y": 260,
        "wires": [
            [
                "98ed0518e25e1589"
            ]
        ]
    },
    {
        "id": "9b029f20cacbf59a",
        "type": "function",
        "z": "d18039bb6d4424f0",
        "name": "Write csv format",
        "func": "str = msg.payload\nnew_payload = {}\nnew_payload.temperature = str.substring(14,18)\nnew_payload.humidity = str.substring(30,35)\nmsg.payload = new_payload\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 260,
        "wires": [
            [
                "9a4d9ea663db61d4"
            ]
        ]
    },
    {
        "id": "937abbc8ea2dbe27",
        "type": "ui_switch",
        "z": "d18039bb6d4424f0",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "36672616760ec1dc",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 320,
        "wires": [
            [
                "9704c63433e17431"
            ]
        ]
    },
    {
        "id": "9704c63433e17431",
        "type": "switch",
        "z": "d18039bb6d4424f0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 260,
        "wires": [
            [
                "d69670e5245ffd37"
            ],
            [
                "f7b867e499ca4a6a"
            ]
        ]
    },
    {
        "id": "82dafb1810b93bda",
        "type": "status",
        "z": "d18039bb6d4424f0",
        "name": "",
        "scope": [
            "d69670e5245ffd37"
        ],
        "x": 270,
        "y": 123.33332824707031,
        "wires": [
            [
                "34efe08083c4d468"
            ]
        ]
    },
    {
        "id": "34efe08083c4d468",
        "type": "function",
        "z": "d18039bb6d4424f0",
        "name": "get pid",
        "func": "if(msg.status.text){\n    let pid = msg.status.text.split(':');\n    msg.payload = pid[1];\n    return msg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 123.33332824707031,
        "wires": [
            [
                "06e418a9c31ff7c4"
            ]
        ]
    },
    {
        "id": "06e418a9c31ff7c4",
        "type": "change",
        "z": "d18039bb6d4424f0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pid",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 123.33332824707031,
        "wires": [
            [
                "6c0527820f9b2df8"
            ]
        ]
    },
    {
        "id": "f7b867e499ca4a6a",
        "type": "change",
        "z": "d18039bb6d4424f0",
        "name": "set to pid",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 320,
        "wires": [
            [
                "c88625c3426d9cd5"
            ]
        ]
    },
    {
        "id": "c88625c3426d9cd5",
        "type": "exec",
        "z": "d18039bb6d4424f0",
        "command": "kill ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 870,
        "y": 320,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "6c0527820f9b2df8",
        "type": "debug",
        "z": "d18039bb6d4424f0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "36672616760ec1dc",
        "type": "ui_group",
        "name": "Default",
        "tab": "16ec7043.17f57",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "16ec7043.17f57",
        "type": "ui_tab",
        "name": "Text",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]