Node-Red/5.AMG8833.json
[
    {
        "id": "a25e4bc8c2a22142",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4291b5a3da9b05bb",
        "type": "inject",
        "z": "a25e4bc8c2a22142",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 420,
        "wires": [
            [
                "e1510bb77d29f5e0"
            ]
        ]
    },
    {
        "id": "e1510bb77d29f5e0",
        "type": "exec",
        "z": "a25e4bc8c2a22142",
        "command": "python3 /home/pi/Adafruit_CircuitPython_AMG88xx/examples/bb.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "AMG8833",
        "x": 520,
        "y": 420,
        "wires": [
            [
                "8da413d7049fbc4f"
            ],
            [],
            []
        ]
    },
    {
        "id": "8da413d7049fbc4f",
        "type": "function",
        "z": "a25e4bc8c2a22142",
        "name": "Render image",
        "func": "let camColors = ['indigo', '#4a0082', '#4a0082', '#490082', '#490082', '#480083', '#480083', '#470083', '#470083', '#460083', '#460083', '#450083', '#450083', '#440084', '#440084', '#430084', '#430084', '#420084', '#420084', '#410084', '#410084', '#400085', '#3f0085', '#3f0085', '#3e0085', '#3e0085', '#3d0085', '#3d0085', '#3c0085', '#3c0086', '#3b0086', '#3b0086', '#3a0086', '#3a0086', '#390086', '#380086', '#380086', '#370087', '#370087', '#360087', '#360087', '#350087', '#350087', '#340087', '#330087', '#330087', '#320088', '#320088', '#310088', '#310088', '#300088', '#300088', '#2f0088', '#2e0088', '#2e0089', '#2d0089', '#2d0089', '#2c0089', '#2c0089', '#2b0089', '#2a0089', '#2a0089', '#29008a', '#29008a', '#28008a', '#27008a', '#27008a', '#26008a', '#26008a', '#25008a', '#25008b', '#24008b', '#23008b', '#23008b', '#22008b', '#22008b', '#21008b', '#20008b', '#20008c', '#1f008c', '#1f008c', '#1e008c', '#1d008c', '#1d008c', '#1c008c', '#1c008c', '#1b008d', '#1a008d', '#1a008d', '#19008d', '#19008d', '#18008d', '#17008d', '#17008d', '#16008d', '#16008e', '#15008e', '#14008e', '#14008e', '#13008e', '#12008e', '#12008e', '#11008e', '#11008f', '#10008f', '#0f008f', '#0f008f', '#0e008f', '#0d008f', '#0d008f', '#0c008f', '#0c0090', '#0b0090', '#0a0090', '#0a0090', '#090090', '#080090', '#080090', '#070090', '#060091', '#060091', '#050091', '#050091', '#040091', '#030091', '#030091', '#020091', '#010092', '#010092', '#000092', '#000192', '#000192', '#000292', '#000392', '#000392', '#000492', '#000593', '#000593', '#000693', '#000793', '#000793', '#000893', '#000993', '#000993', '#000a94', '#000b94', '#000b94', '#000c94', '#000d94', '#000d94', '#000e94', '#000f94', '#000f95', '#001095', '#001195', '#001195', '#001295', '#001395', '#001395', '#001495', '#001596', '#001596', '#001696', '#001796', '#001896', '#001896', '#001996', '#001a96', '#001a97', '#001b97', '#001c97', '#001c97', '#001d97', '#001e97', '#001e97', '#001f97', '#002098', '#002198', '#002198', '#002298', '#002398', '#002398', '#002498', '#002598', '#002698', '#002699', '#002799', '#002899', '#002899', '#002999', '#002a99', '#002b99', '#002b99', '#002c9a', '#002d9a', '#002d9a', '#002e9a', '#002f9a', '#00309a', '#00309a', '#00319a', '#00329b', '#00339b', '#00339b', '#00349b', '#00359b', '#00359b', '#00369b', '#00379b', '#00389c', '#00389c', '#00399c', '#003a9c', '#003b9c', '#003b9c', '#003c9c', '#003d9c', '#003e9d', '#003e9d', '#003f9d', '#00409d', '#00419d', '#00419d', '#00429d', '#00439d', '#00449d', '#00449e', '#00459e', '#00469e', '#00479e', '#00479e', '#00489e', '#00499e', '#004a9e', '#004b9f', '#004b9f', '#004c9f', '#004d9f', '#004e9f', '#004e9f', '#004f9f', '#00509f', '#0051a0', '#0051a0', '#0052a0', '#0053a0', '#0054a0', '#0055a0', '#0055a0', '#0056a0', '#0057a1', '#0058a1', '#0059a1', '#0059a1', '#005aa1', '#005ba1', '#005ca1', '#005ca1', '#005da2', '#005ea2', '#005fa2', '#0060a2', '#0060a2', '#0061a2', '#0062a2', '#0063a2', '#0064a3', '#0064a3', '#0065a3', '#0066a3', '#0067a3', '#0068a3', '#0068a3', '#0069a3', '#006aa3', '#006ba4', '#006ca4', '#006da4', '#006da4', '#006ea4', '#006fa4', '#0070a4', '#0071a4', '#0071a5', '#0072a5', '#0073a5', '#0074a5', '#0075a5', '#0076a5', '#0076a5', '#0077a5', '#0078a6', '#0079a6', '#007aa6', '#007ba6', '#007ba6', '#007ca6', '#007da6', '#007ea6', '#007fa7', '#0080a7', '#0080a7', '#0081a7', '#0082a7', '#0083a7', '#0084a7', '#0085a7', '#0085a8', '#0086a8', '#0087a8', '#0088a8', '#0089a8', '#008aa8', '#008ba8', '#008ba8', '#008ca8', '#008da9', '#008ea9', '#008fa9', '#0090a9', '#0091a9', '#0091a9', '#0092a9', '#0093a9', '#0094aa', '#0095aa', '#0096aa', '#0097aa', '#0097aa', '#0098aa', '#09a', '#009aaa', '#009bab', '#009cab', '#009dab', '#009eab', '#009eab', '#009fab', '#00a0ab', '#00a1ab', '#00a2ac', '#00a3ac', '#00a4ac', '#00a5ac', '#00a6ac', '#00a6ac', '#00a7ac', '#00a8ac', '#00a9ad', '#00aaad', '#00abad', '#00acad', '#00adad', '#00adad', '#00adac', '#00adab', '#00adab', '#00aeaa', '#00aea9', '#00aea9', '#00aea8', '#00aea7', '#00aea7', '#00aea6', '#00aea5', '#00afa5', '#00afa4', '#00afa3', '#00afa3', '#00afa2', '#00afa1', '#00afa1', '#00afa0', '#00b09f', '#00b09f', '#00b09e', '#00b09d', '#00b09d', '#00b09c', '#00b09b', '#00b09b', '#00b19a', '#00b199', '#00b199', '#00b198', '#00b197', '#00b197', '#00b196', '#00b195', '#00b295', '#00b294', '#00b293', '#00b292', '#00b292', '#00b291', '#00b290', '#00b290', '#00b38f', '#00b38e', '#00b38e', '#00b38d', '#00b38c', '#00b38b', '#00b38b', '#00b38a', '#00b389', '#00b489', '#00b488', '#00b487', '#00b486', '#00b486', '#00b485', '#00b484', '#00b484', '#00b583', '#00b582', '#00b581', '#00b581', '#00b580', '#00b57f', '#00b57f', '#00b57e', '#00b67d', '#00b67c', '#00b67c', '#00b67b', '#00b67a', '#00b679', '#00b679', '#00b678', '#00b777', '#00b776', '#00b776', '#00b775', '#00b774', '#00b774', '#00b773', '#00b772', '#00b871', '#00b871', '#00b870', '#00b86f', '#00b86e', '#00b86e', '#00b86d', '#00b86c', '#00b86b', '#00b96b', '#00b96a', '#00b969', '#00b968', '#00b968', '#00b967', '#00b966', '#00b965', '#00ba64', '#00ba64', '#00ba63', '#00ba62', '#00ba61', '#00ba61', '#00ba60', '#00ba5f', '#00bb5e', '#00bb5e', '#00bb5d', '#00bb5c', '#00bb5b', '#00bb5a', '#00bb5a', '#00bb59', '#00bc58', '#00bc57', '#00bc57', '#00bc56', '#00bc55', '#00bc54', '#00bc53', '#00bc53', '#00bd52', '#00bd51', '#00bd50', '#00bd4f', '#00bd4f', '#00bd4e', '#00bd4d', '#00bd4c', '#00be4b', '#00be4b', '#00be4a', '#00be49', '#00be48', '#00be47', '#00be47', '#00be46', '#00be45', '#00bf44', '#00bf43', '#00bf43', '#00bf42', '#00bf41', '#00bf40', '#00bf3f', '#00bf3f', '#00c03e', '#00c03d', '#00c03c', '#00c03b', '#00c03a', '#00c03a', '#00c039', '#00c038', '#00c137', '#00c136', '#00c135', '#00c135', '#00c134', '#00c133', '#00c132', '#00c131', '#00c230', '#00c230', '#00c22f', '#00c22e', '#00c22d', '#00c22c', '#00c22b', '#00c22b', '#00c32a', '#00c329', '#00c328', '#00c327', '#00c326', '#00c326', '#00c325', '#00c324', '#00c323', '#00c422', '#00c421', '#00c420', '#00c420', '#00c41f', '#00c41e', '#00c41d', '#00c41c', '#00c51b', '#00c51a', '#00c51a', '#00c519', '#00c518', '#00c517', '#00c516', '#00c515', '#00c614', '#00c613', '#00c613', '#00c612', '#00c611', '#00c610', '#00c60f', '#00c60e', '#00c70d', '#00c70c', '#00c70c', '#00c70b', '#00c70a', '#00c709', '#00c708', '#00c707', '#00c806', '#00c805', '#00c804', '#00c804', '#00c803', '#00c802', '#00c801', '#00c800', '#01c900', '#02c900', '#03c900', '#04c900', '#05c900', '#05c900', '#06c900', '#07c900', '#08c900', '#09ca00', '#0aca00', '#0bca00', '#0cca00', '#0dca00', '#0eca00', '#0fca00', '#0fca00', '#10cb00', '#11cb00', '#12cb00', '#13cb00', '#14cb00', '#15cb00', '#16cb00', '#17cb00', '#18cc00', '#19cc00', '#1acc00', '#1acc00', '#1bcc00', '#1ccc00', '#1dcc00', '#1ecc00', '#1fcd00', '#20cd00', '#21cd00', '#22cd00', '#23cd00', '#24cd00', '#25cd00', '#26cd00', '#27ce00', '#28ce00', '#29ce00', '#29ce00', '#2ace00', '#2bce00', '#2cce00', '#2dce00', '#2ece00', '#2fcf00', '#30cf00', '#31cf00', '#32cf00', '#33cf00', '#34cf00', '#35cf00', '#36cf00', '#37d000', '#38d000', '#39d000', '#3ad000', '#3bd000', '#3cd000', '#3dd000', '#3ed000', '#3fd100', '#40d100', '#40d100', '#41d100', '#42d100', '#43d100', '#44d100', '#45d100', '#46d200', '#47d200', '#48d200', '#49d200', '#4ad200', '#4bd200', '#4cd200', '#4dd200', '#4ed300', '#4fd300', '#50d300', '#51d300', '#52d300', '#53d300', '#54d300', '#55d300', '#56d400', '#57d400', '#58d400', '#59d400', '#5ad400', '#5bd400', '#5cd400', '#5dd400', '#5ed400', '#5fd500', '#60d500', '#61d500', '#62d500', '#63d500', '#64d500', '#65d500', '#66d500', '#67d600', '#68d600', '#69d600', '#6ad600', '#6bd600', '#6cd600', '#6dd600', '#6ed600', '#6fd700', '#70d700', '#71d700', '#72d700', '#73d700', '#75d700', '#76d700', '#77d700', '#78d800', '#79d800', '#7ad800', '#7bd800', '#7cd800', '#7dd800', '#7ed800', '#7fd800', '#80d900', '#81d900', '#82d900', '#83d900', '#84d900', '#85d900', '#86d900', '#87d900', '#88d900', '#89da00', '#8ada00', '#8bda00', '#8cda00', '#8eda00', '#8fda00', '#90da00', '#91da00', '#92db00', '#93db00', '#94db00', '#95db00', '#96db00', '#97db00', '#98db00', '#99db00', '#9adc00', '#9bdc00', '#9cdc00', '#9ddc00', '#9fdc00', '#a0dc00', '#a1dc00', '#a2dc00', '#a3dd00', '#a4dd00', '#a5dd00', '#a6dd00', '#a7dd00', '#a8dd00', '#a9dd00', '#ad0', '#abde00', '#adde00', '#aede00', '#afde00', '#b0de00', '#b1de00', '#b2de00', '#b3de00', '#b4de00', '#b5df00', '#b6df00', '#b7df00', '#b9df00', '#badf00', '#bbdf00', '#bcdf00', '#bddf00', '#bee000', '#bfe000', '#c0e000', '#c1e000', '#c3e000', '#c4e000', '#c5e000', '#c6e000', '#c7e100', '#c8e100', '#c9e100', '#cae100', '#cbe100', '#cde100', '#cee100', '#cfe100', '#d0e200', '#d1e200', '#d2e200', '#d3e200', '#d4e200', '#d6e200', '#d7e200', '#d8e200', '#d9e300', '#dae300', '#dbe300', '#dce300', '#dde300', '#dfe300', '#e0e300', '#e1e300', '#e2e400', '#e3e400', '#e4e300', '#e4e200', '#e4e100', '#e4e100', '#e4e000', '#e4df00', '#e4de00', '#e5dd00', '#e5dc00', '#e5db00', '#e5da00', '#e5d900', '#e5d800', '#e5d700', '#e5d700', '#e6d600', '#e6d500', '#e6d400', '#e6d300', '#e6d200', '#e6d100', '#e6d000', '#e6cf00', '#e7ce00', '#e7cd00', '#e7cc00', '#e7cc00', '#e7cb00', '#e7ca00', '#e7c900', '#e7c800', '#e8c700', '#e8c600', '#e8c500', '#e8c400', '#e8c300', '#e8c200', '#e8c100', '#e8c000', '#e9bf00', '#e9be00', '#e9be00', '#e9bd00', '#e9bc00', '#e9bb00', '#e9ba00', '#e9b900', '#e9b800', '#eab700', '#eab600', '#eab500', '#eab400', '#eab300', '#eab200', '#eab100', '#eab000', '#ebaf00', '#ebae00', '#ebad00', '#ebac00', '#ebab00', '#ebaa00', '#ebaa00', '#eba900', '#eca800', '#eca700', '#eca600', '#eca500', '#eca400', '#eca300', '#eca200', '#eca100', '#eda000', '#ed9f00', '#ed9e00', '#ed9d00', '#ed9c00', '#ed9b00', '#ed9a00', '#ed9900', '#ee9800', '#ee9700', '#ee9600', '#ee9500', '#ee9400', '#ee9300', '#ee9200', '#ee9100', '#ef9000', '#ef8f00', '#ef8e00', '#ef8d00', '#ef8c00', '#ef8b00', '#ef8a00', '#ef8900', '#ef8800', '#f08700', '#f08600', '#f08500', '#f08400', '#f08300', '#f08200', '#f08100', '#f08000', '#f17f00', '#f17e00', '#f17d00', '#f17c00', '#f17b00', '#f17a00', '#f17900', '#f17800', '#f27700', '#f27600', '#f27500', '#f27400', '#f27300', '#f27200', '#f27100', '#f27000', '#f36f00', '#f36e00', '#f36d00', '#f36c00', '#f36b00', '#f36a00', '#f36800', '#f36700', '#f46600', '#f46500', '#f46400', '#f46300', '#f46200', '#f46100', '#f46000', '#f45f00', '#f45e00', '#f55d00', '#f55c00', '#f55b00', '#f55a00', '#f55900', '#f55800', '#f55700', '#f55600', '#f65500', '#f65400', '#f65200', '#f65100', '#f65000', '#f64f00', '#f64e00', '#f64d00', '#f74c00', '#f74b00', '#f74a00', '#f74900', '#f74800', '#f74700', '#f74600', '#f74500', '#f84400', '#f84200', '#f84100', '#f84000', '#f83f00', '#f83e00', '#f83d00', '#f83c00', '#f93b00', '#f93a00', '#f93900', '#f93800', '#f93700', '#f93600', '#f93400', '#f93300', '#fa3200', '#fa3100', '#fa3000', '#fa2f00', '#fa2e00', '#fa2d00', '#fa2c00', '#fa2b00', '#fa2900', '#fb2800', '#fb2700', '#fb2600', '#fb2500', '#fb2400', '#fb2300', '#fb2200', '#fb2100', '#fc2000', '#fc1e00', '#fc1d00', '#fc1c00', '#fc1b00', '#fc1a00', '#fc1900', '#fc1800', '#fd1700', '#fd1500', '#fd1400', '#fd1300', '#fd1200', '#fd1100', '#fd1000', '#fd0f00', '#fe0e00', '#fe0c00', '#fe0b00', '#fe0a00', '#fe0900', '#fe0800', '#fe0700', '#fe0600', '#ff0500', '#ff0300', '#ff0200', '#ff0100', 'red'];\nlet MINTEMP = 20.0;\nlet MAXTEMP = 35.0;\n\n\nlet html = \"<html><head><style>table {border-spacing: 0px;}</style></head><body><table style=\\\"width:100%\\\"><tr><!DOCTYPE html><table>\";\nlet image = msg.payload.split(\",\");\n\n// auto calculate min and max\nMINTEMP = 200.0;\nMAXTEMP = 0.0;\n\nmax = 0;\nmin = 1023;\n\nfor (let k=0;k<1024;k++) {\n    let value = parseFloat(image[k]);\n    if (value<MINTEMP) { MINTEMP = value; }\n    if (value>MAXTEMP) { MAXTEMP = value; }\n}\n\nif (MAXTEMP-MINTEMP<10) { MAXTEMP = MINTEMP + 10.0; }\n\nfor (let i=0;i<32;i++) {\n    html = html + \"<tr\"\n    for (let j=0;j<32;j++) {\n        let temp = image[i*32+j];\n\n        if(parseInt(temp) > 0) { max = parseInt(temp); }\n        else  { max = 0; }\n        \n        if(max > 1023) { min = 1023; }\n        else  { min = max; }\n        \n        col = camColors[min];\n\n        //html = html + \"<td bgcolor=\\\"\"+mycolor+\"\\\" width=\\\"1px\\\" height=\\\"1px\\\" align=\\\"center\\\" valign=\\\"middle\\\"><font size=\\\"2\\\" color= \\\"#CCCCCC\\\">\"+temp+\"</font></td>\"\n        html = html + \"<td bgcolor=\\\"\"+col+\"\\\" width=\\\"10px\\\" height=\\\"10px\\\" align=\\\"center\\\">\"\n    \n        \n    }\n    html = html + \"</tr>\"\n}\n\nhtml = html + \"</table>\"\n\nmsg.payload = html;\n\nreturn [msg,{\"payload\":MINTEMP},{\"payload\":MAXTEMP}];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 420,
        "wires": [
            [
                "ec2ec61f44f1dd29"
            ],
            [],
            []
        ]
    },
    {
        "id": "ec2ec61f44f1dd29",
        "type": "ui_template",
        "z": "a25e4bc8c2a22142",
        "group": "0d349ebb5661cc24",
        "name": "",
        "order": 2,
        "width": "10",
        "height": "10",
        "format": "<div ng-bind-html=\"msg.payload\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 920,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "0d349ebb5661cc24",
        "type": "ui_group",
        "name": "Thermal",
        "tab": "8c47801cc481b366",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8c47801cc481b366",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]